body {
    font-family: Calibri;
}

div {
    border-radius: 15px;
    border: 2.5px;
}

.header {
    position: fixed;
    z-index: 1;
    height: 75px;
    width: 99%;
    background-color: #FF3333;
    margin-top: -25px;
    margin-bottom: 3px;
}

.footer {
    position: relative;
    height: 75px;
    width: 100%;
    background-color: #CC0000;
    clear: both;
}

.right::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background: url("http://i113.photobucket.com/albums/n219/AraxTex/kfiaty.jpg") top left;
	background-size: 100% 100%;
	opacity: 0.7;
	border-radius: 15px;
    border: 2.5px;
}
.right {
    position: relative;
    float: right;
    height: 750px;
    width: 84.5%;
    margin-bottom: 3px;
    margin-top: 53px;
}
.left {
    position: relative;
    float: left;
    height: 750px;
    width: 15%;
    background-color: #66FF33;
    margin-bottom: 3px;
    margin-top: 53px;
}

.name {
	float: left;
	margin-left: 35px;
	font-size: 30px;
	font-family: Candara, Verdana, sans-serif;
}

a {
    float: right;
	margin-right: 35px;
	padding-top: 1%;
	font-size: 20px;
	font-family: Candara, Verdana, sans-serif;
}

.special {
    text-align: center;
    padding-top: 10px;
}

.thank {
    text-align: center;
    padding-bottom: 10px;
}

h4 {
    padding-left:15px;
}
.img {
    height: 750px;
    width: 84.5%;
}

.mailto:link {
    text-decoration: none;
	color: #c00;
}

.mailto:visited {
    text-decoration: none;
	color: #0c0;
}

.mailto:hover {
    text-decoration: none;
	color: #00C;
}

.mailto:active {
    text-decoration: none;
	color: #CCC;
}

